<div class="page-footer indigo">
  <div class="footer-copyright">
    <div class="container">
      <p>© <%=DateTime.now.year%> Copyright Chirp</p>
      <div class="nav-wrapper right">
        <div class="col s12">
          <a class="grey-text text-lighten-4 right fab fa-github fa-2x" href="/"></a>
          <a class="grey-text text-lighten-4 right fab fa-twitter fa-2x" href="/"></a>
        </div>
      </div>
    </div>
  </div>
</div>
